
/* Your CSS Code here. */
body{
	width: 100vw;
	margin: 0;
	padding: 0px;
	
}
section{
	border: 1px solid lightgray;
	display: flex;
	
	width:100vw;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #fff !important;
	
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#heading{
	text-align:center;
}
#f-name{
	flex: 2;
}
#l-name{
	flex:1;
}
#email{
	flex:1;
}


.invalid-feedback{
  color: #dc3545;
  margin-top: 4px;